<!DOCTYPE html>
<html>
<head>
  <title>Mockup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md page-footer-fixed">
	<!-- BEGIN HEADER -->
	<div class="page-header navbar navbar-fixed-top">
	    <!-- BEGIN HEADER INNER -->
	    <div class="page-header-inner ">
	        <!-- BEGIN LOGO -->
	        <div class="page-logo">
	            <a href="portal2.html">
	                <img src="<%= asset_path('themelayout/img/ml_logo.png')%>" alt="logo" class="logo-default" /> </a>
	            <div class="menu-toggler sidebar-toggler"> </div>
	        </div>
	        <!-- END LOGO -->
	        <!-- BEGIN MEGA MENU -->
	        <!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
	        <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
	        <div class="hor-menu  hor-menu-light hidden-sm hidden-xs">
	            <ul class="nav navbar-nav">
	                <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
	                <li class="classic-menu-dropdown active">
	                  <a href="campaign.html"><i class="fa fa-book font-white"></i> Offer
	                      <span class="selected"> </span>
	                  </a>
	                </li>
	                <li class="classic-menu-dropdown">
	                  <a href="pnotification.html" class="nav-link ">
	                      <i class="fa fa-bell-o font-white"></i>
	                      <span class="title">Notification</span>
	                  </a>
	                </li>

	            </ul>
	        </div>
	        <!-- END MEGA MENU -->

	        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
	        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
	        <!-- END RESPONSIVE MENU TOGGLER -->
	        <!-- BEGIN TOP NAVIGATION MENU -->
	        <div class="top-menu">
	            <ul class="nav navbar-nav pull-right">
	                <!-- BEGIN NOTIFICATION DROPDOWN -->
	                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
	                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
	                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	                        <i class="icon-bell"></i>
	                        <span class="badge badge-default"> 7 </span>
	                    </a>
	                    <ul class="dropdown-menu">
	                        <li class="external">
	                            <h3>
	                                <span class="bold">12 pending</span> notifications</h3>
	                            <a href="repnotification.html">view all</a>
	                        </li>
	                        <li>
	                            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
	                                <li>
	                                    <a href="javascript:;">
	                                        <span class="time">just now</span>
	                                        <span class="details">
	                                            <span class="label label-sm label-icon label-success">
	                                                <i class="fa fa-plus"></i>
	                                            </span> New user registered. </span>
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="javascript:;">
	                                        <span class="time">3 mins</span>
	                                        <span class="details">
	                                            <span class="label label-sm label-icon label-danger">
	                                                <i class="fa fa-bolt"></i>
	                                            </span> Server #12 overloaded. </span>
	                                    </a>
	                                </li>
	                                <li>
	                                    <a href="javascript:;">
	                                        <span class="time">10 mins</span>
	                                        <span class="details">
	                                            <span class="label label-sm label-icon label-warning">
	                                                <i class="fa fa-bell-o"></i>
	                                            </span> Server #2 not responding. </span>
	                                    </a>
	                                </li>

	                                <li>
	                                    <a href="javascript:;">
	                                        <span class="time">2 days</span>
	                                        <span class="details">
	                                            <span class="label label-sm label-icon label-danger">
	                                                <i class="fa fa-bolt"></i>
	                                            </span> Database overloaded 68%. </span>
	                                    </a>
	                                </li>
	                            </ul>
	                        </li>
	                    </ul>
	                </li>
	                <!-- END NOTIFICATION DROPDOWN -->


	                <!-- BEGIN USER LOGIN DROPDOWN -->
	                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
	                <li class="dropdown dropdown-user">
	                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	                        <img alt="" class="img-circle" src="<%= asset_path('layouts/layout/img/avatar3_small.jpg')%>" />
	                        <span class="username username-hide-on-mobile"> Nick </span>
	                        <i class="fa fa-angle-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-menu-default">
	                        <li>
	                            <a href="repnotification.html">
	                                <i class="icon-user"></i> My Profile </a>
	                        </li>

	                        <li class="divider"> </li>

	                        <li>
	                            <a href="user_login.html">
	                                <i class="icon-key"></i> Log Out </a>
	                        </li>
	                    </ul>
	                </li>
	                <!-- END USER LOGIN DROPDOWN -->
	                <!-- BEGIN LANGUAGE BAR -->
	                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
	                <li class="dropdown dropdown-language">
	                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	                        <img alt="" src="<%= asset_path('flags/us.png')%>">
	                        <span class="langname"> US </span>
	                        <i class="fa fa-angle-down"></i>
	                    </a>
	                    <ul class="dropdown-menu">
	                        <li>
	                            <a href="javascript:;">
	                                <img alt="" src="<%= asset_path('flags/th.png')%>"> TH </a>
	                        </li>
	                    </ul>
	                </li>
	                <!-- END LANGUAGE BAR -->
	            </ul>
	        </div>
	        <!-- END TOP NAVIGATION MENU -->
	    </div>
	    <!-- END HEADER INNER -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN HEADER & CONTENT DIVIDER -->
	<div class="clearfix"> </div>
	<!-- END HEADER & CONTENT DIVIDER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container" style="margin-top:46px;">
	    <!-- BEGIN SIDEBAR -->
	    <div class="page-sidebar-wrapper">
	        <!-- BEGIN SIDEBAR -->
	        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	        <div class="page-sidebar navbar-collapse collapse">
	            <!-- BEGIN SIDEBAR MENU -->
	            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	            <ul class="page-sidebar-menu  page-header-fixed hidden-sm hidden-xs" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
	                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
	                <li class="sidebar-toggler-wrapper hide">
	                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	                    <div class="sidebar-toggler"> </div>
	                    <!-- END SIDEBAR TOGGLER BUTTON -->
	                </li>
	                <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

	                <li class="nav-item  ">
	                    <a href="portal2.html" class="nav-link nav-toggle">
	                        <i class="icon-home"></i>
	                        <span class="title">Dashboard</span>

	                    </a>
	                </li>
	                <li class="nav-item ">
	                    <a href="account.html" class="nav-link nav-toggle">
	                        <i class="icon-user"></i>
	                        <span class="title">Account Management</span>

	                    </a>
	                </li>
	                <li class="nav-item ">
	                    <a href="asset.html" class="nav-link nav-toggle">
	                        <i class="icon-drawer"></i>
	                        <span class="title">Asset Management</span>

	                    </a>
	                </li>
	                <li class="nav-item ">
	                    <a href="pass.html" class="nav-link nav-toggle">
	                        <i class="icon-wallet"></i>
	                        <span class="title">Pass Management</span>

	                    </a>
	                </li>
	                <li class="nav-item ">
	                    <a href="content.html" class="nav-link nav-toggle">
	                        <i class="icon-grid"></i>
	                        <span class="title">Content Management</span>
	                    </a>
	                </li>
	                <li class="nav-item active open">
	                    <a href="campaign.html" class="nav-link nav-toggle">
	                        <i class="icon-trophy"></i>
	                        <span class="title">Campaign Management</span>
	                        <span class="selected"></span>
	                    </a>
	                </li>
	                <li class="nav-item ">
                    <a href="report.html" class="nav-link nav-toggle">
                        <i class="icon-star"></i>
                        <span class="title">Analytical Report</span>
                    </a>
                </li>
                <li class="divider"> </li>
                <li class="heading">
                    <h3 class="uppercase font-green-sharp">Features</h3>
                </li>
                <li class="nav-item ">
                    <a href="mypassage.html" class="nav-link nav-toggle">
                        <i class="icon-map"></i>
                        <span class="title">My Passage</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="autobiz.html" class="nav-link nav-toggle">
                        <i class="fa fa-car font-black"></i>
                        <span class="title">Autobiz</span>
                    </a>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
                <ul class="page-sidebar-menu visible-sm visible-xs  page-header-fixed">
                    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                    <!-- DOC: This is mobile version of the horizontal menu. The desktop version is defined(duplicated) in the header above -->

                    <li class="nav-item ">
                        <a href="javascript:;" class="nav-link nav-toggle"> Dashboard
                            <span class="arrow "> </span>

                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item start ">
                                <a href="portal2.html" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">Gadget & Report</span>

                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a href="repnotification.html" class="nav-link nav-toggle">
                                    <i class="icon-puzzle"></i>
                                    <span class="title">Notification</span>

                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="javascript:;" class="nav-link nav-toggle"> Account Management
                            <span class="arrow"> </span>

                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="account.html" class="nav-link nav-toggle"> Organization

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="sb.html" class="nav-link nav-toggle"> Service & Balance

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pc.html" class="nav-link nav-toggle"> Pass Certificate

                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="javascript:;" class="nav-link nav-toggle"> Asset Management
                            <span class="arrow "> </span>

                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="asset.html" class="nav-link nav-toggle"> Business Location

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="userrole.html" class="nav-link nav-toggle"> User & Role

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="customer.html" class="nav-link nav-toggle"> Customer List

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="graphic.html" class="nav-link nav-toggle"> Graphic

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="server.html" class="nav-link nav-toggle"> Server

                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="javascript:;" class="nav-link nav-toggle"> Pass Management
                            <span class="arrow "> </span>

                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="pass.html" class="nav-link nav-toggle"> Property

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pdesign.html" class="nav-link nav-toggle"> Designer

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pdistribute.html" class="nav-link nav-toggle">  Distribution

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pregistration.html" class="nav-link nav-toggle"> Registration

                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle"> Content Management
                            <span class="arrow"> </span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="content.html" class="nav-link nav-toggle"> Campaign Profile

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="cc.html" class="nav-link nav-toggle"> Content

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="cfm.html" class="nav-link nav-toggle">  Field Matching

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="ccm.html" class="nav-link nav-toggle"> Cross Marketing

                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item active open">
                        <a href="javascript:;" class="nav-link nav-toggle"> Campaign Management
                            <span class="arrow open"> </span>
                            <span class="selected"> </span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="campaign.html" class="nav-link nav-toggle"> Offer

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pnotification.html" class="nav-link nav-toggle"> Notification

                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle"> Analytical Report
                            <span class="arrow"> </span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="report.html" class="nav-link nav-toggle"> General Report

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="sreport.html" class="nav-link nav-toggle"> Saved Report

                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
                <!-- END RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
	    <div class="page-content-wrapper">
			<%= yield %>
		</div>
	</div>
	<div class="page-footer">
	    <div class="page-footer-inner"> 2016 &copy; Mellow Lounge by
	        <a href="" title="Cloud and Thing Website" target="_blank">Cloud and Thing.</a>
	    </div>
	    <div class="scroll-to-top">
	        <i class="icon-arrow-up"></i>
	    </div>
	</div>
</body>
</html>
